{% load static %}

<div class="bg-blue-500 text-white w-full py-6">
    <div class="md:container md:mx-auto p-4 grid grid-cols-12 gap-4 border-b-2 border-white mb-2">
        <div class="col-span-12 md:col-span-4">
            <h4 class="text-center font-semibold">Related Links</h4>
            <div class="w-full border-t-2 border-white mt-2 py-8">
                <a href="https://moh.gov.ss/" class="no-underline block text-center mb-2">MOH</a>
                <a href="https://www.cdc.gov/" class="no-underline block text-center">CDC</a>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4">
            <h4><br /></h4>
            <div class="w-full border-t-2 border-white mt-2 mb-4 md:mb-0">
                <img src="{% static 'img/phi.jpg' %}" alt="logo" width="100px" class="mt-4 mx-auto" />
                <div class="py-1 pt-4 mx-auto flex gap-2 justify-center">
                    <a href="#"
                        ><i
                            class="fab fa-linkedin"
                            style="font-family: 'Font Awesome 6 Brands', Bangla969, sans-serif"></i
                    ></a>
                    <a href="#"
                        ><i
                            class="fab fa-facebook"
                            style="font-family: 'Font Awesome 6 Brands', Bangla969, sans-serif"></i
                    ></a>
                    <a href="#"
                        ><i
                            class="fab fa-facebook"
                            style="font-family: 'Font Awesome 6 Brands', Bangla969, sans-serif"></i
                    ></a>
                </div>
                <p class="text-center py-1">
                    <i class="fa fa-phone-alt" style="font-family: 'Font Awesome 6 Free', Bangla314, sans-serif"></i
                    >&nbsp;<a href="tel:+211921111111">+211(0) 21 111 111</a>
                </p>
                <p class="text-center py-1"><i class="fa-solid fa-envelope"></i> info@phi.gov.ss</p>
            </div>
        </div>
        <div class="col-span-12 md:col-span-4">
            <h4 class="text-center font-semibold">Get In Touch</h4>
            <div class="w-full border-t-2 border-white mt-2 py-8">
                <p class="text-center leading-8">
                    First Floor PHEOC, <br />
                    Adjacent to National Blood Bank <br />
                    Mobil Roundabout, Hai Tamorogia <br />
                    Juba, South Sudan
                </p>
            </div>
        </div>
    </div>
    <p class="text-center text-sm">
        Copyright ©
        <script>
            document.write(new Date().getFullYear());
        </script>
        <a href="#" class="font-semibold">PHI</a> All rights reserved. Powered By:
        <a class="font-semibold" rel="sponsored" href="https://nilotech.com.ss" target="_blank">Nilotech</a>
    </p>
</div>
