{% extends 'layout.html' %} {% block content%} {% load static %}

<div>{% include 'header/mountain-header.html' %}</div>

<div class="md:container mx-auto p-4 md:p-10">
    <div class="m-4 rounded-xl shadow-xl max-w-[900px] mx-auto p-4 md:p-10">
        <h2 class="mb-6">{{ subtitle }}</h2>
        <p>
            Contribute to the development and sustainability of the public health workforce by providing, and
            Coordinating Specialized public health, and leadership training.
        </p>
    </div>
</div>
{% endblock %}
