{% extends 'layout.html' %} {% block content%} {% load static %}

<div>{% include 'header/mountain-header.html' %}</div>

<div class="md:container mx-auto p-4 md:p-10">
    <div class="m-4 rounded-xl shadow-xl max-w-[900px] mx-auto p-4 md:p-10">
        <h2 class="mb-6">{{ subtitle }}</h2>
        <p>
            Develop, enhance, and expand disease surveillance and response through the Incident Management System
            through regular support to national multi-hazard emergency risk assessments, strengthening functionality of
            national and sub-national emergency response coordination mechanism and incident management system.
        </p>
    </div>
</div>
{% endblock %}
