{% extends 'dashboard/layout.html' %} {% block content%}

<div>
    <h2 class="text-gray-600">Dashboard</h2>
    <div class="mx-auto max-w-[500px] bg-white rounded-md shadow-lg p-8 mt-12">
        <h3 class="text-center text-gray-400 mb-4">Coming Soon!</h3>
        <p class="text-center text-gray-500 leading-8 tracking-wider">
            Our new dashboard feature is on its way! Stay tuned for updates as we prepare to unveil this powerful tool
            designed to enhance your experience. Get ready to elevate your productivity and efficiency like never
            before!
        </p>
    </div>
</div>

{%endblock %}
