{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="{% static 'img/phi.jpg' %}" type="image/x-icon" />
        <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
        <script src="{% static 'js/bgload.js' %}" type="text/javascript" defer></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
        <title>{{ title|default:"University" }}</title>
    </head>
    <body class="font-robotoSlab min-h-full bg-slate-50">
        {% include 'dashboard/nav/primary_nav.html' %}
        <div class="">
            <div id="sidebar" class="fixed h-screen shadow-md bg-white overflow-y-auto" style="width: 320px">
                <span id="toggleSideBar" class="absolute right-4 top-4 cursor-pointer visible md:hidden">
                    <i class="fa-solid fa-bars text-gray-500 text-xl"></i>
                </span>

                <!-- <h4>Sidebar</h4> -->
                <div id="sideMenu">
                    <a href="/" class="flex flex-col items-center mx-12">
                        <img
                            src="{% static 'img/phi.jpg' %}"
                            alt="BENTIU University logo"
                            style="height: 85px"
                            class="inline-block mx-auto mt-6" />
                        <h4 class="text-gray-600 text-center pt-4 inline-block font-bold">PHI</h4>
                    </a>
                    <div class="mt-10">
                        <a
                            href="/dashboard/managements"
                            class="mx-12 {% if request.resolver_match.url_name == 'dashboard-managements' or request.resolver_match.url_name == 'dashboard-managements-add' %}bg-blue-500 text-white{% else %} bg-slate-200 text-gray-500 {% endif %} hover:bg-blue-500 hover:text-white p-4 mb-2 rounded-md block"
                            ><i class="fa-solid fa-user-tie"></i> Managements</a
                        >
                        <a
                            href="/dashboard/resources"
                            class="mx-12 {% if request.resolver_match.url_name == 'dashboard-resources' or request.resolver_match.url_name == 'dashboard-resources-add' %}bg-blue-500 text-white{% else %} bg-slate-200 text-gray-500 {% endif %} hover:bg-blue-500 hover:text-white p-4 mb-2 rounded-md block"
                            ><i class="fa-solid fa-boxes-stacked"></i> Resources</a
                        >
                        <a
                            href="/dashboard/events"
                            class="mx-12 {% if request.resolver_match.url_name == 'dashboard-events' or request.resolver_match.url_name == 'dashboard-events-add' %}bg-blue-500 text-white{% else %} bg-slate-200 text-gray-500 {% endif %} hover:bg-blue-500 hover:text-white p-4 mb-2 rounded-md block"
                            ><i class="fa-solid fa-calendar-day"></i> Events</a
                        >
                    </div>
                </div>
            </div>
            <div id="contentBody" class="px-6 py-6" style="margin-left: 320px">{% block content %}{% endblock %}</div>
        </div>
    </body>
    <script>
        document.getElementById('toggleSideBar').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            var contentBody = document.getElementById('contentBody');
            var sideMenu = document.getElementById('sideMenu');
            sidebar.classList.toggle('open');

            // Check if sidebar is open and adjust width
            if (sidebar.classList.contains('open')) {
                sidebar.style.width = '50px';
                contentBody.style.marginLeft = '50px';
                sideMenu.style.display = 'none';
            } else {
                sidebar.style.width = '320px';
                contentBody.style.marginLeft = '320px';
                sideMenu.style.display = 'block';
            }
        });
    </script>
</html>
