{% extends 'dashboard/layout.html' %} {% block content%}

<div>
    <h2 class="text-gray-600">Edit Project</h2>
    <div class="flex">
        <a href="/dashboard/projects" class="bg-blue-500 text-white px-6 py-2 mt-4 rounded-md block"> < All Projects</a>
    </div>
    <div class="max-w-[50vw]">
        <form method="post" class="space-y-4" enctype="multipart/form-data">
            {% csrf_token %} {{ form.media }}{{ form.as_p }}
            <div>
                <button
                    type="submit"
                    class="bg-blue-500 text-white px-6 py-2 mt-4 rounded-md block focus:text-gray-500 focus:bg-slate-200">
                    Update Project
                </button>
            </div>
        </form>
    </div>
</div>

{%endblock %}
