{% load static %}
<div class="shadow-md hidden md:block fixed top-0 w-full z-50 bg-white">
    <div class="md:container mx-auto flex gap-10">
        <a href="/" class="flex justify-start items-center gap-5 py-2 max-w-[180px]">
            <img src="{% static 'img/phi.jpg' %}" width="60px" />
            <h2 class="font-robotoSans font-extraBold text-blue-500">SSPHI</h2>
        </a>
        <div class="bg-blue-500 w-[80%]">
            <ul class="bg-blue-500 text-white uppercase flex justify-around text-sm w-full h-full">
                <li class="h-full flex items-center"><a href="/" class="no-underline">Home</a></li>
                <li class="h-full flex items-center relative group">
                    <a href="javascript:void(0)" class="no-underline">About <i class="fa-solid fa-angle-down"></i></a>
                    <ul
                        class="absolute bg-white text-xs w-64 left-0 top-[100%] opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible text-gray-700 shadow-md z-10">
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Background Information</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">Management</a>
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">History</a>
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">Partners</a>
                        </li>
                    </ul>
                </li>
                <li class="h-full flex items-center relative group">
                    <a href="javascript:void(0)" class="no-underline"
                        >Programs <i class="fa-solid fa-angle-down"></i
                    ></a>
                    <ul
                        class="absolute bg-white text-xs w-80 left-0 top-[100%] opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible text-gray-700 shadow-md z-10">
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Surveillance & Disease Intelligence</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Emergency Preparedness, Response & EOC</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Laboratory Services and Public Health</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Workforce Development</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Public Health LMG</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Data Management Fellowship</a
                            >
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300"
                                >Non-Communicable Diseases and Injuries</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="h-full flex items-center"><a href="/" class="no-underline">Resources</a></li>
                <li class="h-full flex items-center"><a href="/" class="no-underline">Projects</a></li>
                <li class="h-full flex items-center"><a href="/" class="no-underline">Training Opportunity</a></li>
                <li class="h-full flex items-center relative group">
                    <a href="javascript:void(0)" class="no-underline">Media <i class="fa-solid fa-angle-down"></i></a>
                    <ul
                        class="absolute bg-white text-xs w-64 left-0 top-[100%] opacity-0 group-hover:opacity-100 transition-opacity duration-200 invisible group-hover:visible text-gray-700 shadow-md z-10">
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">News</a>
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">Press Release</a>
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">Gallery</a>
                        </li>
                        <li class="uppercase text-black w-full hover:text-blue-500 border-b-2 border-gray-100">
                            <a href="/" class="block pl-3 hover:pl-4 py-3 transition-all duration-300">Events</a>
                        </li>
                    </ul>
                </li>
                <li class="h-full flex items-center"><a href="/" class="no-underline">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
