<div class="md:container mx-auto md:my-10 p-4 md:p-10 grid grid-cols-12 gap-8">
    <div class="col-span-12 md:col-span-6 shadow-xl rounded-md px-8 py-4">
        <p>
            Ministry of Health on February 11th, 2019, through a Ministerial Order No :004/2019 established a Steering
            Committee (SC) and Technical Working Group (TWG) for establishment of South Sudan Public Health Institute
            (SSPHI). The technical working group was decreed to provide oversight and stewardship for the establishment
            of the institute.
        </p>
        <h2 class="py-2">Overall Goal</h2>
        <p>
            The overall goal of the Institute is to serve as a centre of excellence for supervision, control and
            coordination of all matters relating to public health, including disease surveillance, laboratory systems
            and networks, emergency preparedness and response, workforce development, and public health research in the
            context of one health approach.
        </p>
    </div>
    <div class="col-span-12 md:col-span-3 shadow-xl rounded-md p-4 relative">
        <div class="bg-blue-500 inline-block p-4 rounded-full absolute left-[50%] -translate-x-[50%] top-10">
            <i class="fa-solid fa-eye text-white text-4xl"></i>
        </div>
        <h3 class="text-center py-2 mt-24">Vision</h3>
        <p class="text-center">
            Our Vision in SSPHI: To be a centre of excellence in public health research, laboratory diagnosis, and
            public health emergency management in the East Africa region.
        </p>
    </div>
    <div class="col-span-12 md:col-span-3 shadow-xl rounded-md p-4 relative">
        <div class="bg-blue-500 inline-block p-4 rounded-full absolute left-[50%] -translate-x-[50%] top-10">
            <i class="fa-solid fa-chart-bar text-white text-4xl"></i>
        </div>
        <h3 class="text-center py-2 mt-24">Mission</h3>
        <p class="text-center">
            To improve the health of the people of South Sudan through early detection of public health threats, prompt
            response to health emergencies, and evidence-based policies and programme.
        </p>
    </div>
</div>
