<div class="bg-blue-50">
    <div class="md:container mx-auto py-8 px-4 grid grid-cols-12">
        <div class="col-span-12 md:col-span-9">
            <p class="uppercase text-primary">Our Press Releases</p>
            <h3 class="text-black">
                Check Out <span class="text-primary">Latest</span> Press <span class="text-primary">Releases</span>
            </h3>
        </div>
        <div class="col-span-12 md:col-span-3 pt-6 relative">
            <a href="/all-press" class="inline-block bg-blue-500 text-white px-6 py-2 rounded-md md:absolute md:right-4"
                >Check All Press Releases</a
            >
        </div>
    </div>
</div>
