<div>
    <h2>Core Values</h2>
    <ul class="text-gray-500 list-disc pl-6 leading-8 my-4">
        <li>Excellence: Strive for evidence-based practice, competency, continuous improvement</li>
        <li>Adaptability and flexibility in all functions and activities</li>
        <li>Integrity: Strive for honesty, truthfulness, credibility, and sincerity</li>
        <li>Professionalism: Demonstrate expertise, proficiency, and promote teamwork</li>
        <li>Accountability and Transparency: Endeavour for openness, liability, in fiscal and social responsibility</li>
    </ul>

    <h2 class="my-4">Current Priority</h2>
    <p>
        Our current priority among many is the development of the public health workforce through a fellowship program.
    </p>
</div>
