{% load static %}

<div
    class="relative left-0 top-0 w-full h-[50vh] flex items-center justify-center"
    style="
        background-size: cover;
        background-position: center;
        background-image: url('{% static 'img/heading-bg.jpg' %}');
    ">
    <div class="pt-8">
        <h1 class="text-blue-500 text-center scale-125">{{ title_detail }}</h1>
        <span class="block h-[1px] w-64 bg-white opacity-30 my-4 mx-auto"></span>
        <p class="text-white text-center">{{ subtitle }}</p>
    </div>
</div>
